.form__wrap {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 20px;
}

.input {
    display: inline-block;
    width: 100%;
    font: inherit;
    font-size: 24px;
    border: none;
    outline: none;
    padding-left: 10px;
}

.button__search {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-content: center;
    height: 48px;
    border: 0;
    opacity: .6;
    transition: opacity .25s cubic-bezier(.4, 0, .2, 1);
    cursor: pointer;
    outline: none;
    align-items: center;
    font-size: 16px;
}